version: "3.8"

services:
  jobmanager:
    build: .
    command: standalone-job --job-classname com.example.flinkkafka.FlinkKafkaToHopsworks
    ports:
      - "8081:8081"
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
      - KAFKA_GROUP_ID=${KAFKA_GROUP_ID}
      - HOPSWORKS_HOST=${HOPSWORKS_HOST}
      - HOPSWORKS_PORT=${HOPSWORKS_PORT}
      - HOPSWORKS_PROJECT=${HOPSWORKS_PROJECT}
      - HOPSWORKS_API_KEY=${HOPSWORKS_API_KEY}
      - FEATURE_GROUP_NAME=${FEATURE_GROUP_NAME}
      - FEATURE_GROUP_VERSION=${FEATURE_GROUP_VERSION}
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
    extra_hosts:
      - "host.docker.internal:host-gateway"

  taskmanager:
    build: .
    command: taskmanager
    depends_on:
      - jobmanager
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
      - KAFKA_GROUP_ID=${KAFKA_GROUP_ID}
      - HOPSWORKS_HOST=${HOPSWORKS_HOST}
      - HOPSWORKS_PORT=${HOPSWORKS_PORT}
      - HOPSWORKS_PROJECT=${HOPSWORKS_PROJECT}
      - HOPSWORKS_API_KEY=${HOPSWORKS_API_KEY}
      - FEATURE_GROUP_NAME=${FEATURE_GROUP_NAME}
      - FEATURE_GROUP_VERSION=${FEATURE_GROUP_VERSION}
      - |
        FLINK_PROPERTIES=
        jobmanager.rpc.address: jobmanager
        taskmanager.numberOfTaskSlots: 2
    extra_hosts:
      - "host.docker.internal:host-gateway"

  simulator:
    build: ./simulator
    depends_on:
      - jobmanager
    environment:
      - KAFKA_BOOTSTRAP_SERVERS=${KAFKA_BOOTSTRAP_SERVERS}
      - KAFKA_TOPIC=${KAFKA_TOPIC}
      - PUBLISH_INTERVAL_SEC=${PUBLISH_INTERVAL_SEC:-1.0}
    extra_hosts:
      - "host.docker.internal:host-gateway"
